﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/bootstrap.js")

    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style4.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/589a125b28.js"></script>

</head>

<body style=" padding-top:unset; padding-bottom:unset">

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img width="200" height="142" src="~/Images/SAVVY.png" style="position:relative;top:-10px" class="img-responsive"></h3>
                <strong><img width="50" height="34" src="~/Images/mini-logo.png" style="position:relative;top:-10px" class="img-responsive"></strong>
            </div>
            
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-user"></i>
                        Patient
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">ADD PATIENT</a>
                        </li>
                        <li>
                            <a href="#">BOOK APPOINTMENT</a>
                        </li>
                        <li>
                            <a href="#">VIEW PATIENTS</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#consultationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Consultation
                    </a>
                    <ul class="collapse list-unstyled" id="consultationSubmenu">
                        <li>
                            <a href="#">NEW CONSULTATION</a>
                        </li>
                        <li>
                            <a href="#">VIEW APPOINTMENT</a>
                        </li>
                        <li>
                            <a href="#">SEARCH CONSULTATION</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#inventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Inventory
                    </a>
                    <ul class="collapse list-unstyled" id="inventorySubmenu">
                        <li>
                            <a href="#">ADD INVENTORY</a>
                        </li>
                        <li>
                            <a href="#">STOCK TAKE</a>
                        </li>
                        <li>
                            <a href="#">STOCK WRITE-OFF</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#FinanceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Finance
                    </a>
                    <ul class="collapse list-unstyled" id="FinanceSubmenu">
                        <li>
                            <a href="#">PAYMENTS</a>
                        </li>
                        <li>
                            <a href="#">MEDICAL AID CLAIMS</a>
                        </li>
                        <li>
                            <a href="#">INVOICES</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#reportingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Reporting
                    </a>
                    <ul class="collapse list-unstyled" id="reportingSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Admin
                    </a>
                    <ul class="collapse list-unstyled" id="adminSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
            </ul>



            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">LOGOUT</a>
                </li>
                <li>
                    <a href="#" class="article">HELP?</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" style=" background-color:#0e0d0d">


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <div class="title" style="color= #ffffff">@ViewBag.Title</div>

                </div>
            </nav>

            @RenderBody()
            <footer>
                <p style="text-align:center">&copy; @DateTime.Now.Year - Dr. Savvy By IS DEV</p>
            </footer>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>

</html>